/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Space+Mono:wght@700&display=swap');

:root {
  /* colors ––––––––––– */
  --dark-neutral: #282828;
  --light-neutral: #fff;
  --primary: #7ed321;
  --darker-primary: #68B415;
  --darkest-primary: #6B775E;
  /* fonts ––––––––––– */
  --heading-font: 'Open Sans', sans-serif;
  --sub-font: 'Space Mono', monospace;
  --body-font: 'Open Sans', sans-serif;
  --heading-font-weight: 800;
  --sub-font-weight: 700;
  --body-font-weight: 400;
}

body {
  background-color: var(--dark-neutral);
  color: var(--light-neutral);
  font-family: var(--body-font);
  font-size: 18px;
}

.wrap {
  margin: 2em 1em;
  max-width: 600px;
}

.h1 {
  color: var(--primary);
  font-family: var(--heading-font);
  font-size: 58px;
  font-weight: var(--heading-font-weight);
  text-transform: lowercase;
}

.h2 {
  font-size: 18px;
  font-weight: var(--body-font-weight);
  text-transform: lowercase;
}

.h3 {
  color: var(--darkest-primary);
  font-family: var(--sub-font);
  font-size: 16px;
  font-weight: var(--sub-font-weight);
  text-transform: uppercase;
}

.anchor {
  /*color: var(--primary);*/
  /*font-size: 16px;*/
  color: yellow;
  /*font-weight: var(--sub-font-weight);*/
}

.icon {
  color: var(--primary);
  font-size: 14px;
}

.window {
  background-color: var(--light-neutral);
  border: 3px solid var(--dark-neutral);
  box-shadow: inset -10px 10px 0 0 var(--primary),
              -12px 12px 0 0 var(--light-neutral);
}

.window.window--selfie {
  width: 410px; /* 10px wider than photo to fake box shadow */
}

.window .window__photo {
  display: block;
  width: 400px;
}

.window.window--bio {
  left: 480px;
  width: 400px;
  position: absolute;
  top: 0;
}

.window .window__top {
  border-bottom: 3px solid var(--dark-neutral);
  display: flex;
  padding: 4px 8px;
}

.window .window__dot {
  border: 3px solid var(--dark-neutral);
  border-radius: 50%;
  height: 8px;
  margin-right: 4px;
  width: 8px;
}

.window .window__text {
  padding: 20px 40px;
}

.social {
  display: flex;
  flex-direction: column;
  left: 560px;
  width: 200px;
  position: absolute;
  top: 400px;
}

@media only screen and (max-width: 1000px) {

  .h1 {
    font-size: 36px;
    margin-left: -10px;
  }

  .window.window--bio {
    left: 440px;
    width: 300px;
    top: 0;
  }

  .window .window__text {
    padding: 10px 30px;
  }

  .social {
    left: 440px;
    top: 435px;
  }

}

@media only screen and (max-width: 800px) {

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: unset;
    margin: 50px auto 0 auto;
  }

  .h1 {
    font-size: 30px;
    margin-bottom: -265px;
    margin-left: 240px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .window.window--selfie {
    align-self: center;
    margin-left: -50px;
    width: 240px; /* 10px wider than photo to fake box shadow */
  }

  .window .window__photo {
    width: 230px;
  }

  .window .window__text {
    padding: 10px 20px 20px 20px;
  }

  .window.window--bio {
    font-size: 15px;
    left: 20px;
    position: relative;
    top: -60px;
    width: 260px;
  }

  .social {
    flex-direction: column;
    left: 0;
    max-width: 330px;
    position: relative;
    top: -90px;
    width: 100%;
  }

  .social .social__link {
    font-size: 14px;
    margin: 10px 70px 5px 10px;
  }

  .icon {
    margin-left: 4px;
  }

}